<div class="container">
  <div class="row card-profile">
    <%= image_tag 'MeInKyoto.jpg', class: "col-12 col-md-4 col-lg-4" %>
    <div class="col-12 col-md-8 col-lg-8 card-profile-info">
      <div>
        <div class="ml-3">
          <h2>
            Fullstack Web-Developer
          </h2>
        </div>
        <h4 class="mt-2 ml-3">
          Ready to assist you with any web development needs
        </h4>
      </div>
      <div class="mt-2 ml-3">
        <h5 class="mt-2">
          Programming Fluencies
        </h5>
        <p>
          <strong>Expertise in Ruby on Rails. Brought to production several web-apps.</strong>
        </p>
        <p>
          Command of <strong>Ruby, Rails, Javascript, SCSS, SQL, Postgres, Bootstrap, Git,</strong> and <strong>Active Record</strong>.
        </p>
        <p>
          Familiarity with <strong>Python & React</strong>.
        </p>
      </div>
      <h4 class="mt-2 ml-3">Follow me on: </h4>
      <div class="row ml-4 mt-2 social">
        <a href="https://www.github.com/dostaglou"><i class="fab fa-github" target="_blank"></i></a>
        <a href="https://www.linkedin.com/in/dillon-wyatt-3a2a5b183/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://twitter.com/foreignorchid" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="card-trip">
      <%= image_tag 'CompanyMD.png' %>
      <div class="card-trip-infos">
        <div class="card-trip-infos-header">
          <h2>Company MD</h2>
          <%= link_to "Visit", "https://www.companymd.world", class: "dbtn-ghost", target: "_blank" %>
        </div>
        <h3>Backend Developer</h3>
        <p>CompanyMD is a web platform that aggregates a wide variety of financial data from market indices & individual stocks to yearly SEC report filings all in a user friendly format. It enables the everyone from amateur to expert analyst to make informed choices regarding their investments. The entire site was developed, outlined, and programmed in merely 2 weeks by a team of 4</p>
        <p>For this website I took lead on obtaining the SEC reports utilizing an outside API along with Nokogiri web-scraping, the Javascript for creating and editing the portfolios via AJAX, enhancing the load speeds for the show pages, and assisted on the development of the graphs, excel downloading, and some general display formatting</p>
      </div>
    </div>
    <div class="card-trip">
      <%= image_tag 'FindMySensei.png' %>
      <div class="card-trip-infos">
        <div class="card-trip-infos-header">
          <h2>Find My Sensei</h2>
          <%= link_to "Visit", "https://stmatch.herokuapp.com", class: "dbtn-ghost", target: "_blank" %>
        </div>
        <h3>Lead Developer</h3>
        <p>FindMySensei is an AirBnB like website that is aimed at connecting students and teacher of any particular field together in an easy to use manner. By allowing prospective students see a wide array of lessons, make individual bookings and leave reviews, Find My Sensei aims to better connect people and develop the human potential in Tokyo and around the world. The entire site was developed, outlined, and programmed in merely 5 days by a team of 4</p>
        <p>For this website I was the lead developer responsible for ensuring the overall maintenance of the site, reviewing all incoming code from our team to ensure quality, and coordinate with the Project Manager to ensure the timelines we set were achievable. I also worked on the coding of the various privacy and user security issues on the site to ensure a worry free experience</p>
      </div>
    </div>
    <div class="card-trip">
      <%= image_tag 'BeachBumBeverages.png' %>
      <div class="card-trip-infos">
        <div class="card-trip-infos-header">
          <h2>Beach Bum Beverages</h2>
          <%= link_to "Visit", "https://beachbumbeverages.herokuapp.com", class: "dbtn-ghost", target: "_blank" %>
        </div>
        <h3>Sole Developer</h3>
        <p>Beach Bum Beverages was a 2 day crash course in developing a functional Ruby on Rails website. It offers any visitor the chance to create a cocktail with a photo of said cocktail along with detailed information on its ingredients.</p>
        <p>Over the course of about 12 hours, I designed, scripted, and launched this website. It was an early attempt to familiarize myself with the concepts of multi-model databases. While crude in terms capabilities, it reflects the early skills I developed and put into practice.</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="social">
      <a href="https://www.github.com/dostaglou"><i class="fab fa-github" target="_blank"></i></a>
      <a href="https://www.linkedin.com/in/dillon-wyatt-3a2a5b183/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://twitter.com/foreignorchid" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</div>
